@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Work+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: black;
  padding: 10px 20px;
}

p {
  color: white;
  font: 800 1.2rem "Work Sans", sans-serif;
  margin-bottom: 6px;
}

img:hover {
  border: 4px rgba(183, 11, 11, 0.84) solid;
}

